header {
  text-align: center;
  background-color: grey;
}

h1 {
  color: blue;
}

img {
  box-shadow: 10px 10px 5px black;
}

section {
  background-color: grey;
}

p {
  font-size: 12px;
}

ul {
  border-style: solid;
}

table {
	border-style: solid;
}

